<a href="https://colab.research.google.com/github/shivanshu1406verma/shivanshu_capg/blob/main/encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv("employee_data_100.csv")
data

,Employee_ID,Gender,Department,Education_Level,Experience_Years,Salary,Performance_Rating
0,E001,Male,HR,Bachelor,9,75017,Excellent
1,E002,Female,HR,PhD,13,96320,Excellent
2,E003,Male,Marketing,Master,2,57751,Average
3,E004,Male,HR,PhD,14,108069,Average
4,E005,Male,HR,PhD,2,84748,Excellent
...,...,...,...,...,...,...,...
95,E096,Female,IT,Master,2,108832,Poor
96,E097,Female,Finance,PhD,15,81293,Poor
97,E098,Female,Finance,Master,11,108781,Excellent
98,E099,Female,IT,Bachelor,10,90403,Average
99,E100,Male,Sales,PhD,2,59124,Poor

In [ ]:
# label encoding

from sklearn.preprocessing import LabelEncoder
p=LabelEncoder()
data['Performance_label']=g.fit_transform(data['Performance_Rating'])
data[['Performance_Rating','Performance_label']]

   Performance_Rating  Performance_label
0           Excellent                  1
1           Excellent                  1
2             Average                  0
3             Average                  0
4           Excellent                  1
..                ...                ...
95               Poor                  3
96               Poor                  3
97          Excellent                  1
98            Average                  0
99               Poor                  3

[100 rows x 2 columns]

In [ ]:
# one hot encoding

### using pandas
# dfe=pd.get_dummies(data,columns=['Department'])
# dfe


###using sklearn
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False)
e=ohe.fit_transform(data[['Department']])
encoded_data=pd.DataFrame(e,columns=ohe.get_feature_names_out(['Department']))
encoded_data

,Department_Finance,Department_HR,Department_IT,Department_Marketing,Department_Sales
0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...
95,0.0,0.0,1.0,0.0,0.0
96,1.0,0.0,0.0,0.0,0.0
97,1.0,0.0,0.0,0.0,0.0
98,0.0,0.0,1.0,0.0,0.0
99,0.0,0.0,0.0,0.0,1.0

In [22]:
#### ordinal encoding

from sklearn.preprocessing import OrdinalEncoder
performance_order=['Poor','Average','Good','Excellent']
oe=OrdinalEncoder(categories=[performance_order])
data[['Performance_Ordinal']]=oe.fit_transform(data[['Performance_Rating']])

data[['Performance_Rating','Performance_Ordinal']]

   Performance_Rating  Performance_Ordinal
0           Excellent                  3.0
1           Excellent                  3.0
2             Average                  1.0
3             Average                  1.0
4           Excellent                  3.0
..                ...                  ...
95               Poor                  0.0
96               Poor                  0.0
97          Excellent                  3.0
98            Average                  1.0
99               Poor                  0.0

[100 rows x 2 columns]