<a href="https://colab.research.google.com/github/shivanshu1406verma/shivanshu_capg/blob/main/FeatureScaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
data=pd.read_csv("employee_data_100.csv")

In [11]:
#### Normalization

from sklearn.preprocessing import Normalizer
norm=Normalizer()
d=norm.fit_transform(data[['Salary']])
data['Normalized_salary']=d
d
data[['Salary','Normalized_salary']]

    Salary  Normalized_salary
0    75017                1.0
1    96320                1.0
2    57751                1.0
3   108069                1.0
4    84748                1.0
..     ...                ...
95  108832                1.0
96   81293                1.0
97  108781                1.0
98   90403                1.0
99   59124                1.0

[100 rows x 2 columns]

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data['Normalized_salary'] = scaler.fit_transform(data[['Salary']])
data[['Salary','Normalized_salary']]

    Salary  Normalized_salary
0    75017           0.494209
1    96320           0.734211
2    57751           0.299689
3   108069           0.866576
4    84748           0.603839
..     ...                ...
95  108832           0.875172
96   81293           0.564915
97  108781           0.874597
98   90403           0.667549
99   59124           0.315157

[100 rows x 2 columns]

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data['Normalized_salary'] = scaler.fit_transform(data[['Salary']])
data[['Salary','Normalized_salary']]

    Salary  Normalized_salary
0    75017          -0.135795
1    96320           0.638376
2    57751          -0.763258
3   108069           1.065346
4    84748           0.217839
..     ...                ...
95  108832           1.093074
96   81293           0.092281
97  108781           1.091221
98   90403           0.423347
99   59124          -0.713362

[100 rows x 2 columns]